doctype html
html
	head
		title= title
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous")
		script(src="https://use.fontawesome.com/b94e93922a.js")
		link(rel='stylesheet', href='/public/stylesheets/style.css')
	body
		.navbar
			.navbar-item.subnav
				a(href="/blog") blog
					a(href="/blog/technology")
						div.subnav-item Technology
					a(href="/blog/community")
						div.subnav-item Community
			.navbar-item
				a(href="/sign-in") Members Directory
			.navbar-item
				a(href="/about") About us
		block content
		unless page === 'home'
			div.return-home
					a(href="/home")
						h2 Return to home
